body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  zoom: 120%;
}
h1{
  margin: 50px auto 0 auto;
  font-size: 562.5%; /*100% = 16px = 1em, 90px/16 = 562.5*/
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;

}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr{
  width: 3%;
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
}
p{
  line-height: 2;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: black;
}
nav{
  position: fixed;
  line-height: 60px;
  top: 0;
  width: 100%;
  overflow: hidden;
}
nav ul{
  float: center;
  margin: 0;
  background-color: #EAF6F6;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  color: #11999E;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  text-decoration: none;
}
.intro{
  width: 30%;
  margin: auto;
}

.img-profile{
  border-radius: 50%;
}


.top-container{
  background-color: #EAF6F6;
  position: relative; /* sätter denna container till raletive för att molnen ska kunna placeras rätt */
  padding-top: 100px;
}
.skills{

}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.skill-img{
  width: 25%;
  float: left;
  margin-right: 30px;
  padding-bottom: 10px;
}
.skill-img-2{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.footer-link{
  text-align: center;

}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
---------------------------------------------------------------------------
.navMenu{
  overflow: hidden;
  background-color: #11999E;
}


/*Mobil*/
@media screen and (min-width: 300px) and (max-width: 1024px){

    h2{
      font-size: 4rem;
    }
    h3{
      font-size: 2.5rem;
    }
    p{
      width: 130%;
    }
    nav{
      line-height: 120px;
    }
    nav ul li a{
      font-size: 3rem;
    }
    .middle-container{
      margin: 100px 0;
    }
    .skill-row{
      margin-left: 150px;
      text-align: center;
    }
    .intro{
      width: 65%;
      margin: auto;
    }
    .top-cloud{
      position: absolute;
      right: 70px;
      top: 100px;
    }
    .bottom-cloud{
      position: absolute;
      left: 100px;
      bottom: 300px;
    }
    .love-gaming{
      font-size: 1rem;
      width: 80%;
      margin: auto;
    }
    .contact-message{
      font-size: 1.5rem;
      margin: 40px auto 60px;
    }
    .bottom-container{
      background-color: #66BFBF;
      padding: 50px 0 50px;
    }
    .footer-link{
      text-align: center;
      font-size: 3rem;
    }
    .copyright{
      color: #EAF6F6;
      font-size: 2rem;
      margin: auto;
      width: 60%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){

}
@media screen and (min-width: 1025px){

}
/*Tablet*/
